---
import AudioUploadFormWrapper from "../components/AudioUploadWrapper.astro";
import Layout from "../layouts/Layout.astro";
import AudiosList from "../components/react/AudiosList";
import App from "./react/App";
---

<Layout>
    <App client:only>
        <div class="container mx-auto p-2">
            <section id="home" class="relative">
                <AudioUploadFormWrapper />
            </section>
            <section id="uploaded-audios" class="relative">
                <h4
                    class="text-center text-5xl font-bold"
                >
                    Uploaded Audios
                </h4>
                <AudiosList client:only />
            </section>
        </div>
    </App>
</Layout>
