---
import AudioUploadFormWrapper from "../components/AudioUploadWrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section id="home">
		<AudioUploadFormWrapper />
	</section>
</Layout>
