---
import AudioUploadForm from "./react/AudioUploadForm.tsx";
import Rules from "./Rules.astro";
import Title from "./Title.astro";
---

<div class="min-h-screen">
    <Title />
    <AudioUploadForm client:load />
    <Rules />
</div>
