---
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
---

<Card className="sm:w-full md:w-8/12 mt-10 mb-16 mx-auto">
    <CardHeader>
        <CardTitle>Upload Rules</CardTitle>
        <CardDescription>indications to take into account</CardDescription>
    </CardHeader>
    <CardContent>
        <ul class="ml-6 list-disc [&>li]:mt-2">
            <li>
                Supported Formats: WAV, MP3, MP4
            </li>
            <li>Max File Size: 250MB</li>
            <li>
                Max Audio Length: 15 minutes
            </li>
            <li>
                Privacy: Audio is not published.
            </li>
            <li>
                Retention: Audio will be deleted
                in about 3 days.
            </li>
            <li>
                Limitation: One audio can be mastered
                at a time.
            </li>
        </ul>
    </CardContent>
</Card>
