<div class="text-center mt-10">
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-2">AI Mastering</h1>
    <h2 class="max-w-fit mx-auto scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0">
        The fastest free way to <span class="font-semibold">master</span> your audios
        with <span class="font-semibold">AI!</span>
    </h2>
</div>
